@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$theme-colors: map-merge(
                $theme-colors,
                (
                        "dark": #000000
                )
);

@import "~bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, sans-serif;
}

a {
  color: #000000;
}

iframe {
  border: 0;
}

.btn {
  border-radius: 0 !important;
}

.notice-line {
  background-color: #000000;
  color: #ffffff;
  padding: 15px 20px 15px 20px;
  text-align: center;
  font-size: 1.2em;
}
